/* .home{
    height: 600px;
    width: 900px;
    margin-left: 10px;
    background-color: aqua;
}
.add-property{
    display: inline-block;
    margin-top: 200px;
    margin-left: 300px;
}
.form-open{
    position: absolute;
    top: 300px;
    right: 300px;
}
.form-closed{
    visibility: hidden;
} */

