.home{
    position: absolute;
    left: 320px;
    display: flex;
    /* height: 100%; */
    /* margin-top: 80px;
    margin-left: 80px; */
}
.barber{
   margin-right: 40px;
   position: relative;
   top: 100px;
}
.services{
    /* background-color: aqua; */
    margin-right: 40px;
}

.service-heading{
    margin-bottom: 6px;
}
.selected-services{
    /* background-color: bisque; */
    /* margin-left: 430px; */
    position: absolute;
    right: 6px;
    margin-right: 40px;
    max-height: 250px; /* Limit expansion */
    overflow-y: auto;
}
.selected-services h2{
    margin-bottom: 6px;
}
.selected-services span{
    font-size: larger;
    margin-right: 5px;
    
}
.customer-details{
    position: absolute;
    left: 150px;
    top: 470px;
}
.customer-details input{
    height: 20px;
    border-radius: 5px;
}
.discount{
   
    position: absolute;
    top:320px;
    right:0px;
}
.complete-purchase{
    /* margin-left: 430px; */
    margin-top: 10px;
}
.barber-name{
    font-size: larger;
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 7px;
}
.service-name{
    font-size: larger;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    height: 40px;
}
.search-service{
    height: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.barber-edit{
    margin-right: 30px;
    border-radius: 100%;
    cursor: pointer;
}
.barber-remove{
    cursor: pointer;
}
.services-all{
    position: absolute;
    
    display: flex;
    height: 300px; /* Adjust as per your UI */
    overflow-y: auto; /* Allows scrolling when needed */
}
.merge{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Ensures proper spacing */
  min-width: 400px; /* Prevents the width from shrinking */
}
